page-login {

}
.line-center{
    margin:0;padding:0 10px;
    background:#fff;
    display:inline-block;
}
.center_login{
    
    text-align:center;
    position:relative;
    z-index:2;
    
}
@media only screen and (min-width: 576px) {
    .platform-ios{
    
        // color:blue;
    }
 }
 @media only screen and (min-width: 768px) and (max-width: 991px){
    .item-md{
        padding-left:0px;
    }
    .border-box{
        padding:2%;
        border-radius:20px;
        box-shadow: 2px 2px 4px #000000;
        
        border:2px solid black;
    }
    .platform-ios{
        margin:auto;
        width:40%;
        display: block;
        // color:blue;
    }
 }
 @media only screen and (min-width: 992px) {
     
    .item-md{
        padding-left:0px;
    }
    .border-box{
        padding:2%;
        border-radius:20px;
        box-shadow: 2px 2px 4px #000000;
        
        border:2px solid black;
    }
    .platform-ios{
        margin:auto;
        width:40%;
        display: block;
        // color:blue;
    }
 }

.platform-ios{
    
}
.center_login:after{
    content:"";
    position:absolute;
    top:50%;
    left:0;
    right:0;
    border-top:solid 1px rgb(14, 6, 6);
    z-index:-1;
}
