page-post-add {
    
}

.select_menu{
    padding:0px;
    margin-right:0px;
    max-width:100%;
    border-bottom:1px solid black;
}
.influencers_row{
    padding-left:0px;
    padding-right:0px;
}

.input_field{
    border: 0;
    outline: 0;
    width:60px;
    background: transparent;
    border-bottom: 1px solid black;
}
.input_field_follower{
    border: 0;
    outline: 0;
    width:40px;
    
    background: transparent;
    border-bottom: 1px solid black;
}
.select-md .select-icon .select-icon-inner{
    left:0px;
}
.select_social_icons{
    border:2px solid black;
    border-radius:20px
}
h1, h2, h3, h4, h5, h6{
    margin-top:0.6rem;
    margin-bottom:0.6rem;
}
