page-post-display {

}
 .large_icon{
    font-size: 25px;
}

.social_icons{
    width:30px;
}
img{
    width:20px;
}
.input_field{
    border: 0;
    outline: 0;
    width:40px;
    background: transparent;
    border-bottom: 1px solid black;
}

