page-msg-influencers {

}
.inline{
    display:inline
}
.comp{
    width:200px;
    height:100px;
}
.apply{
    width:27px;
    height:27px;
    display:inline-block;
    margin-top: -15px;
    margin-right: 0px !important;
    margin-left: 0px !important;
    padding:0px !important;
    border-radius:50%;
}
.img-icon{
    width:27px;
}
.apl{
    font-size:8px;
}